<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/app.css" media="all"/>
</head>
<body ng-app="gitApp">
<div ng-controller="AppCtrl">
    <div class="panel">
        <h1 style="text-align: center">Repository Rumble!</h1>

        <!-- Panel which handles input and starts application. -->

        <div class="panel-{{inputState}}">
            <div class="row">
                <div class="large-5 columns">
                    <input type="text" placeholder="Angular" ng-model="input1">
                </div>
                <div class="large-2 columns">
                    <p id="versus">Vs.</p>
                </div>
                <div class="large-5 columns">
                    <input type="text" placeholder="Ember" ng-model="input2">
                </div>
            </div>
            <div class="row">
                <a class="button large-6 large-offset-3 columns success" ng-click="compare()">Go!</a>
            </div>
        </div>

        <!-- Panel which shows errors thrown by the application. -->

        <div class="error-panel panel-{{errorState}}">
            <div class="row">
                <div class="large-12 columns">
                    {{errorMessage}}
                </div>
            </div>
        </div>

        <!-- Panel which displays the comparisons and the winner of the matchup -->

        <div class="panel-{{fightState}}">
            <!--Titles of Repositories-->
            <div class="row sub-panel">
                <a href="{{repository1.homepage}}">
                    <div class="large-4 columns">
                        <h2>{{repository1.title}}</h2>
                        <img class="columns large-6 large-offset-3" src="{{repository1.owner.avatar_url}}">
                    </div>
                </a>

                <div class="large-2 large-offset-1 columns">
                    <h2 class="versus">Vs.</h2>
                </div>
                <a href="{{repository2.homepage}}">
                    <div class="large-4 large-offset-1 columns">
                        <h2>{{repository2.title}}</h2>
                        <img class="columns large-6 large-offset-3" src="{{repository2.owner.avatar_url}}">
                    </div>
                </a>
            </div>
            <div class="sub-panel row" ng-repeat="comparison in comparisons.matches">
                <div class="row">
                    <h5>{{comparison.title}}</h5>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <h2 class="result-{{comparison.result[0]}}">{{comparison.repository1}}</h2>
                    </div>
                    <div class="large-4 columns">
                        <h2>{{comparison.result[2]}}</h2>
                    </div>
                    <div class="large-4 columns">
                        <h2 class="result-{{comparison.result[1]}}">{{comparison.repository2}}</h2>
                    </div>
                </div>
            </div>
            <div class="winner-display sub-panel row">
                <div class="row">
                    <h3>Winner:</h3>
                </div>s
                <div class="row">
                    <div class="large-12 columns">
                        <h1 id="result-overall-winner">{{comparisons.winner.title}}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="button large-6 large-offset-3 columns" ng-click="reset()">Start Over</a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="row">
        <div class="columns large-12">
            By <a href="http://brentbaum.com">Brent Baumgartner</a>.
            <a class="right" href="https://github.com/collectivemedia/interview-interns-2013-brent">See the source.</a>
        </div>
    </div>
</div>

</body>
</html>